body {
    padding-top: 100px;
    background-color: #90946c;
    background-image: url(https://i.pinimg.com/originals/91/23/1e/91231e8a9b9b906dc05cfa1494255605.png);
background-repeat: no-repeat;
    
}

.container-fluid{
    margin-top: 50px;
    justify-content: center;
    background-color: none;
    text-align-last: center;
  
}
header{
 align-content: center;
 text-align: center;
}

.container mt-4 contato {
    text-decoration-color: rgb(41, 16, 6);

    align-items: center;
}

.container{

    height: fit-content;
}